@model DGIT9.Models.ChangesData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChangesData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chnagetype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chnagetype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CommitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
