@model DGIT9.Models.ReposData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReposData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepoURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepoURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommitCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommitCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectName">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
