@model IEnumerable<DGIT9.Models.ReposData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepoName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
