@model IEnumerable<DGIT9.Models.CommitsData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deletes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemoteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deletes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemoteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Email">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Email">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
